body{
    overflow-x: hidden;
}

.home h2 {
    margin-top: 3%;
}

.square_container-store{
    position:absolute;
    left:10vh;
    top: 15vh;
    width: 100vh;
    height: 120vh;
    margin: 0 auto;
    overflow: hidden;
}

.square_container-user{
    position:absolute;
    left:10vh;
    top: 15vh;
    width: 100vh;
    height: 80vh;
    margin: 0 auto;
    overflow: hidden;
}

.main-store{
    height: 130%;
    /* Center and scale the image nicely */
    width: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    /* overflow: hidden; */
}

.main-user{
    height: 112%;
    /* Center and scale the image nicely */
    width: 111.1%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    /* overflow: hidden; */
}

h2{
    position: absolute;
    right:43vh;
    font-weight:bold;
}

.square-user .square_link h3 {
    margin-top: 7%;
    color:black;
    font-weight:bold;
}
.square-user .square_link p {
    margin-top: 7%;
    color:black;
    font-weight:bold;
    font-size: 5vh;
}

.square-store .square_link h3 {
    margin-top: 7%;
    color:white;
    font-weight:bold;
}
.square-store .square_link p {
    margin-top: 7%;
    color:white;
    font-weight:bold;
    font-size: 5vh;
}


.plate, .store, .product, .order, .person, .food{
    width: 20vh;
    height: 20vh;
    margin-top: 3vh;
    
}

/* .person{
    width: 35vh;
    height: 35vh;
    margin-top: 3vh;
    
} */


.navItem{
    /* display: none; */
    /* visibility: hidden; */
}
a[href="/logout"] {
    visibility: visible;
    font-weight:bold;
}

a[href="/login"] {
    visibility: visible;
    font-weight:bold;
}

.square-user{
    border: 3px solid black;
    width: 35vh;
    height: 35vh;
    margin: 2.8vh;
    float: left;
}
.square-store{
    border: 3px solid white;
    width: 35vh;
    height: 35vh;
    margin: 2.8vh;
    float: left;
}



.big-square{
    /* left: 3vh; */
    /* margin-top: 3vh; */
    border: 5px solid black;
    width: 55vh;
    height: 55vh;
    background-color: rgb(250, 228, 201);
    /* padding: 30px; */
    margin: 2.8vh;
    position: absolute;
    right:-60vh;
    top: 12vh;
    
    /* font-size: 3.5vh; */
}


@media (max-width:1024px){
    .square_container-user, .square_container-store{
        position:absolute;
        left:5vh;
        top: 15vh;
        width: 60vh;
        height: 80vh;
        margin: 0 auto;
    }


    .big-square{
        display: none;
    }
    h2{
        display: none;
    }
    .square-user, .square-store{
        width: 20vh;
        height: 20vh;
    }
    .plate, .store, .product, .order, .person, .food{
        width: 12vh;
        height: 12vh;
        margin-top: 3vh;
    }
    .square_link h3{
        display: none;
    }
}